.favorites-page {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  .favorite-city {
    border: solid 2px #000000;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 34px -15px rgba(0, 0, 0, 1);
    cursor: pointer;
  }
}
